@import url('https://fonts.googleapis.com/css?family=Montserrat');

.wrapper_services {
  height: 80vh;
  /* display: flex; */
  padding: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00573b52;
}

.containerr_style {
  font-style: #111213;
}
.containerr p {
  /* font-size: 3rem; */
  /* padding: 0.5rem;
  /* font-weight: bold; */
  display: block;
  letter-spacing: 0.1rem; 
  /* text-align: center; */
  /* overflow: hidden; */
}
.containerr p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.containerr p span.cursor {
  display: inline-block;
  background-color: rgb(138, 91, 91);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.containerr p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}